@model Employee

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Employee</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create" asp-controller="Employees">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpDob" class="control-label"></label>
                <input asp-for="EmpDob" class="form-control" />
                <span asp-validation-for="EmpDob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPhone" class="control-label"></label>
                <input asp-for="EmpPhone" class="form-control" />
                <span asp-validation-for="EmpPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpEmail" class="control-label"></label>
                <input asp-for="EmpEmail" class="form-control" />
                <span asp-validation-for="EmpEmail" class="text-danger"></span>
            </div>
       
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
